@font-face {
  font-family: "iconfont"; /* Project id 2947552 */
  src: url('iconfont.woff2?t=1662343477921') format('woff2'),
       url('iconfont.woff?t=1662343477921') format('woff'),
       url('iconfont.ttf?t=1662343477921') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-biyanjing:before {
  content: "\e901";
}

.icon-yanjing:before {
  content: "\e8c7";
}

.icon-xiangxia:before {
  content: "\e600";
}

.icon-fangxiang4:before {
  content: "\e601";
}

.icon-qunfengfangxiangjianyou:before {
  content: "\e765";
}

.icon-qunfengfangxiangjianzuo:before {
  content: "\e766";
}

.icon-cs-xs-1:before {
  content: "\e63c";
}

.icon-cs-xx-1:before {
  content: "\e63d";
}

.icon-fangxiangjiantou-xiangyou:before {
  content: "\e612";
}

.icon-fangxiangjiantou-xiangzuo:before {
  content: "\e613";
}

.icon-fangxiang-xiangxia:before {
  content: "\e614";
}

.icon-fangxiang-xiangzuo:before {
  content: "\e615";
}

.icon-fangxiang-xiangyou:before {
  content: "\e616";
}

.icon-fangxiangyuan-xiangzuo:before {
  content: "\e617";
}

.icon-fangxiangyuanjiantou-xiangyou:before {
  content: "\e618";
}

.icon-fangxiangyuanjiantou-xiangshang:before {
  content: "\e619";
}

.icon-fangxiangyuanjiantou-xiangxia:before {
  content: "\e61a";
}

.icon-fangxiangyuanjiantou-xiangzuo:before {
  content: "\e61b";
}

.icon-arrow-:before {
  content: "\e623";
}

.icon-arrow-1:before {
  content: "\e624";
}

.icon-fangxiangxia:before {
  content: "\e6c3";
}

