* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.app {
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: #ddd;
}
.blank-cell-wrapper {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
.blank-cell-wrapper .blank-cell-item {
  margin: 5px;
  width: 20vw;
  height: 20vw;
  border: 1px solid #fff;
}
.char-cell-wrapper {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.char-cell-wrapper .char-cell-item {
  box-sizing: border-box;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 20vw;
  font-size: 3rem;
  border: 1px solid #fff;
  background-color: #ffa500;
}
