<div class="blog-column--list"></div>
<div class="blog-write">
  <div class="blog-write--wrap"></div>
  <div class="blog-write--control">
    <a href="javascript:;" data-router="write/clean">清 空</a>
    <a href="javascript:;" data-router="write/submit">提 交</a>
  </div>
</div>

