.blog-comment--wrap
  margin 0 10px
  display flex
  flex-direction column

.blog-putComment
  // margin-top 10px
  padding 0
  display flex
  #blog-column--input
    width 500px
    outline none
    border 0
    border-radius 4px
    box-shadow 0 0 2px 2px #fff
  .blog-comment--button
    border 0
    border-radius 4px
    box-shadow 0 0 2px 2px #fff
    &:hover 
      background-color rgb(63, 60, 60)
      color #fff

.blog-showComments
  padding 0

.blog-comment--item
  margin-top 10px
  border-radius 4px
  box-shadow 0 0 2px 2px #fff

.blog-comment--item>div
  margin 10px

.blog-comment--info
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content space-between
  padding-bottom 2px
  

.blog-comment--user
  display flex
  width auto
  height 20px

  .blog-comment--avatar
    margin 0 8px
    width 20px
    height 20px
    overflow hidden
    border-radius 50%
.blog-comment--avatar img.avatar
    margin 0
    width 100%
    
.blog-comment--content
  padding 0 8px
  text-indent 2em