.blog-count--wrap
  display flex
  flex-direction row
  flex-wrap wrap

.blog-count--item
  display flex
  justify-content center
  align-items center
  flex-direction  column
  margin 40px
  width 200px
  height 200px
  color #fff
  font-weight 700
  line-height 40px
  border-radius 30px
  background-color rgb(223, 150, 150)
  cursor pointer
  &:hover 
    box-shadow 0 0 4px 4px #ceecce

.fz60
  font-size 60px

.fz30
  font-size 30px

.fz18
  font-size 18px